@media (max-width: 1080px) {
    .nav-font-size {
        font-size: 0.8rem
    }

    .m-font-size {
        font-size: 2.4rem
    }

    .b-font-size {
        font-size: 0.9rem
    }
}

@media (max-width: 991px) {
    .width {
        width: 100%
    }
}

@media (max-width: 767px) {
    .width {
        width: auto
    }

    .m-font-size {
        font-size: 1.8rem
    }

    .height {
        height: 20rem;
    }

    .s-font-size {
        font-size: 1.1rem
    }

    .l-height {
        height: 100%;
    }

    .l-font-size {
        font-size: 0.88rem
    }
}